:host {
  height: 100vh;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    tui-loader {
      height: 100%;
    }
  }
}

.footer {
  z-index: 1;
  position: relative;
  bottom: 0;
  box-shadow: 0 0.25rem 1.5rem rgb(0 0 0 / 12%);
}

.content {
  box-sizing: border-box;
  height: 100%;
}

.action {
  position: fixed;
  left: 24px;
  bottom: 24px;

  --tui-action-color: var(--tui-positive);
  --tui-action-background: var(--tui-success-bg);

  &:hover {
    cursor: pointer;
  }
}
