<tui-loader [overlay]="true"
            [showLoader]="(isLoaderActive$ | async)!">
  <section class="header">
    <button tuiButton [routerLink]="routes.AUTH">Login</button>
  </section>
  <section class="content">
    <router-outlet></router-outlet>
    <tui-marker-icon class="action tui-space_right-2"
                     mode="link"
                     src="tuiIconCommentLarge"
                     tuiHintDirection="top-right"
                     [tuiHint]="template"
                     [tuiHintManual]="isHintShown"
                     (click)="toggleHint()"></tui-marker-icon>
  </section>
</tui-loader>

<ng-template #template>
  <yf-chat-dialog [messages]="(messages$ | async)!"
                  (emitCloseDialog)="toggleHint()"
                  (emitSendMessage)="sendMessage($event)"></yf-chat-dialog>
</ng-template>
