<tui-input *ngIf="type !== 'password'; else password"
           [tuiHintContent]="hintContent"
           [tuiTextfieldCleaner]="allowClear"
           [tuiTextfieldLabelOutside]="textfieldLabelOutside"
           [tuiTextfieldSize]="size"
           [(ngModel)]="formValue">
  <ng-container *ngIf="label">{{ label }}</ng-container>
  <span *ngIf="currency"
        class="currency">{{ currency | tuiCurrency }}</span>
  <span *ngIf="isRequired"
        class="tui-required"></span>
  <input tuiTextfield
         [placeholder]="placeholder"
         [type]="type"/>
</tui-input>

<tui-error ngDefaultControl
           [(ngModel)]="formValue"
           [error]="getErrorTips()">
</tui-error>

<ng-template #password>
  <tui-input-password [tuiHintContent]="hintContent"
                      [tuiTextfieldCleaner]="allowClear"
                      [(ngModel)]="formValue">
    {{ label }}
    <span *ngIf="isRequired"
          class="tui-required"></span>
    <input tuiTextfield
           [placeholder]="placeholder"
           [type]="type"/>
  </tui-input-password>
</ng-template>
