@mixin transparentBackgroundColor($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin grid($columnsCount: 1, $rowGap: 0, $columnGap: 0) {
  display: grid;
  grid-template-columns: repeat($columnsCount, 1fr);

  @if $rowGap != 0 {
    grid-row-gap: $rowGap;
  }

  @if $columnGap != 0 {
    grid-column-gap: $columnGap;
  }
}
